@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 224 71.4% 4.1%;
		--card: 0 0% 100%;
		--card-foreground: 224 71.4% 4.1%;
		--popover: 0 0% 100%;
		--popover-foreground: 224 71.4% 4.1%;
		--primary: 88 52% 53%;
		--primary-foreground: 0 0% 100%;
		--secondary: 88 30% 94%;
		--secondary-foreground: 220.9 39.3% 11%;
		--muted: 88 30% 94%;
		--muted-foreground: 220 8.9% 46.1%;
		--accent: 88 30% 94%;
		--accent-foreground: 220.9 39.3% 11%;
		--destructive: 0 72.22% 50.59%;
		--destructive-foreground: 210 20% 98%;
		--border: 88 15% 88%;
		--input: 88 15% 88%;
		--ring: 88 52% 53%;
		--radius: 0.3rem;
	}
	.dark {
		--background: 224 71.4% 4.1%;
		--foreground: 210 20% 98%;
		--card: 224 71.4% 4.1%;
		--card-foreground: 210 20% 98%;
		--popover: 224 71.4% 4.1%;
		--popover-foreground: 210 20% 98%;
		--primary: 88 55% 60%;
		--primary-foreground: 88 30% 8%;
		--secondary: 88 20% 18%;
		--secondary-foreground: 210 20% 98%;
		--muted: 88 20% 18%;
		--muted-foreground: 217.9 10.6% 64.9%;
		--accent: 88 20% 18%;
		--accent-foreground: 210 20% 98%;
		--destructive: 0 72% 51%;
		--destructive-foreground: 210 20% 98%;
		--border: 88 20% 18%;
		--input: 88 20% 18%;
		--ring: 88 55% 60%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
